<h1>{{title}}</h1>
<h3>Welcome to {{title}}! The internet's premiere community for lovers of cinema!</h3>
<h3>The Movies of the Month for July are featured below!</h3>
<div class="movie-posters">
<img src="https://m.media-amazon.com/images/M/MV5BYzFiZjc1YzctMDY3Zi00NGE5LTlmNWEtN2Q3OWFjYjY1NGM2XkEyXkFqcGdeQXVyMTUyMTUzNjQ0._V1_.jpg" alt="Mission Impossible: Dead Reckoning Part One">
<img src="https://deadline.com/wp-content/uploads/2023/04/barbie-BARBIE_VERT_TSR_W_TALENT_2764x4096_DOM_rgb.jpg?w=800" alt="Barbie">
<img src="https://sportshub.cbsistatic.com/i/2023/05/05/75a5162e-60b8-4bf4-9902-3c0ef49af85f/oppenheimer-poster-cillian-murphy.jpg?auto=webp&width=1500&height=2375&crop=0.632:1,smart" alt="Oppenheimer">
</div>