<!DOCTYPE html>
<html>
  <head>
    <title>Film Club</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/posts">Reviews</a>
      <a href="/posts/post-create">New Review</a>
      <a href="/users/sign-up">Sign Up</a>
      <a href="/users/login">Login</a>
      <a href="/users">Community</a>
      <a href="/users/user-profile">Your Profile</a>
    </nav>
    {{{body}}}
  </body>
</html>
