<!DOCTYPE html>
<html>
  <head>
    <title>Film Club</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/posts">Reviews</a>
      <a href="/posts/new-review">New Review</a>
      <a href="/users">Community</a>

      {{#unless loggedUser}}

      <a href="/users/sign-up">Sign Up</a>
      <a href="/users/login">Login</a>
      {{/unless}}

       {{#if loggedUser}}
<a href="/users/user-profile">Your Profile</a>
      <a href="/users/logout">Logout</a>

         {{/if}}
      
    </nav>
    {{{body}}}
  </body>
</html>
