a {
  text-decoration: none;
  color: #adb5bd
}
a:hover { 
  transition: all;
  transition-duration: 0.5s;
  color:white;

}
.nav {
  display: flex;
  justify-content: space-evenly !important;
  width: 100%
}

h1 {
  color: white
}

h2 {
  color: white
}

.movie-posters {
  display: flex;
  justify-content: space-around;
  height: 60vh;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.review {
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  width: 300px;
  height: 100px;
  border: solid white 1px;
  border-radius: 10px
}

ul {
  list-style: none;
}

li::before {
  content: "\2605";
  color: white; 
  font-weight: bold;
  padding-right: 10px;
}