body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
}

a {
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: navy;
  padding-bottom: 40px;
  padding-top: 40px;
}

h1 {
  display: flex;
  justify-content: center;
}

.movie-posters {
  display: flex;
  justify-content: space-around;
  height: 60vh;
}

.center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}