<div class="center">
  <h2>Login</h2>

  <form action="/users/login" method="POST">

    <label> Username:
      <input type="text" name="username" />
    </label>

    <label>Password:
      <input type="password" name="password" />
    </label>

    <button type="submit">Login</button>

    <br>

    <h4>Don't have an account? Sign up <a href="/users/sign-up">here!</a></h4>
  </form>
    
    <div>
    {{#if message}}
      <p><b>{{message}}</b></p>
    {{/if}}
    </div>
</div>