<div id="form">
  <h2>Login</h2>

  <form action="/users/login" method="POST">

    <label> Username:
      <input type="text" name="username" />
    </label>

    <label>Password:
      <input type="password" name="password" />
    </label>

    <button type="submit">Login</button>

    {{#if message}}
      <p class="error">{{message}}</p>
    {{/if}}
  </form>
</div>