<div class="center">
  <br>
  <h2>Login</h2>
<br>
  <form action="/users/login" method="POST">

    <label> Username:
      <input type="text" name="username" />
    </label>

    <label>Password:
      <input type="password" name="password" />
    </label>
<br>
<br>
<div class="center">
    <button type="submit">Login</button>
</div>
    
    <br>
    <div id="inline">
    <h6 class="center">Don't have an account? Sign up</h6>
    <h6>&nbsp;<a class="here" href="/users/sign-up"><u class="here">here!</u></a></h6>
    </div>
  </form>
    
    <div>
    {{#if message}}
      <p><b>{{message}}</b></p>
    {{/if}}
    </div>
</div>