<div class="center">
  <br>
<h2>Sign Up</h2>
<br>
<form action="/users/sign-up" method="POST">
  <label> 
    Username:
    <input type="text" name="username" />
  </label>

  <label>
      Password:
      <input type="password" name="password"/>
    </label>

  <button type="submit"> Sign Up </button>
<br>
<br>
  <div id="inline">
    <h6 class="center">Already have an account? Login</h6>
    <h6>&nbsp;<a class="here" href="/users/login"><u class="here">here!</u></a></h6>
    </div>
</form>

<div>
  {{#if message}}
    <p><b>{{message}}</b></p>
  {{/if}}
</div>
</div>