<h2>Log a new Review!</h2>

<form action="/posts/post-create" method="POST">
  <label> Film Title:
    <input type="text" name="title" />
  </label>
  <br>

  <label> Review:
    <textarea type="text" name="content"> </textarea>
  </label>
  <br>

<label for="imageUrl">Image URL:</label>
    <input id="imageUrl" type="text" name="imageUrl">
<br>

  <label for="author-select"> Created b0y:
    <select name="author">
      <option disable selected value=""></option>
      {{#each dbUsers}}
        <option value="{{this._id}}"> {{this.username}} </option>
      {{/each}}
    </select>
  </label>
  <br>

  <button type="submit"> Post Review </button>
</form>