<h2>Log a new Review!</h2>

<form action="/posts/new-review" method="POST">
  <label> Film Title:
    <input type="text" name="title" />
  </label>
  <br>

  <label> Review:
    <textarea type="text" name="content"> </textarea>
  </label>
  <br>

<label for="imageUrl">Image URL:</label>
    <input id="imageUrl" type="text" name="imageUrl">
<br>

  <br>

  <button type="submit"> Post Review </button>
</form>