<div class="center">
<h2>Edit Review</h2>

<form action="/posts/edit/{{_id}}" method="post">

    <label for="title">Film Title:</label>
    <input id="title" type="name" name="title" value="{{title}}">

    <label for="content">Review:</label>
    <input id="content" type="text" name="content"value="{{content}}">

    <label for="imageUrl">Image URL:</label>
    <input id="imageUrl" type="text" name="imageUrl" value="{{imageUrl}}">

    <button type="submit">Edit Review</button>

</form>
</div>